{% extends "base.html" %}
{% load static %}
{% block title %} Inicio {% endblock %}
{% block content %}


<a class="codepen-button"><span>Open Pokedex!</span></a>
    
    

    <div class="wrapper position-absolute top-0">
        <div class="inner" style="--quantity: 6;">
            <div class="carteshome" style="--index: 0;--color-card: 142, 249, 252;">
                <div class="img"
                     style="background-image: url('https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png');"></div>
            </div>
            <div class="carteshome" style="--index: 1;--color-card: 142, 252, 204;">
                <div class="img"
                     style="background-image: url('https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/4.png');"></div>
            </div>
            <div class="carteshome" style="--index: 2;--color-card: 142, 252, 157;">
                <div class="img"
                     style="background-image: url('https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/7.png');"></div>
            </div>
            <div class="carteshome" style="--index: 3;--color-card: 215, 252, 142;">
                <div class="img"
                     style="background-image: url('https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/25.png');"></div>
            </div>
            <div class="carteshome" style="--index: 4;--color-card: 252, 252, 142;">
                <div class="img"
                     style="background-image: url('https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/39.png');"></div>
            </div>
            <div class="carteshome" style="--index: 5;--color-card: 252, 208, 142;">
                <div class="img"
                     style="background-image: url('https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/133.png');"></div>
            </div>
        </div>
    </div>

{% endblock %}
