{% extends "base.html" %}
{% load static %}

{% block title %} Inicio {% endblock %}

{% block content %}


    <div class="card container mx-auto bg-secondary">
        <button>

            <div class="border bg-black"></div>
            <div class="content">
              <span class="logo-bottom-text">
                <button>
            <span class="box text-light">
                Open Pokedex!
            </span>
            </button>
            </span>

            </div>
            <span class="trail"></span>
    </div>
{% endblock %}
