

body {
    margin: 0; /* Elimina márgenes predeterminados */
    padding: 0; /* Elimina relleno predeterminado */
    width: 100%; /* Ocupa el 100% del ancho de la ventana */
    height: 100%; /* Ocupa el 100% de la altura de la ventana */
    box-sizing: border-box; /* Asegura que el ancho/altura incluyan bordes y rellenos */

    /* Add your background pattern here */
    background-color: #eee;
    background-image: radial-gradient(rgba(155, 155, 155, 0.18) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px
}

.background-div {
    background-image: url("../img/top.png");
    height: 10%; /* adjust as needed */
    background-size: cover; /* Scale the background image to cover the entire div */
    background-position: bottom  center; /* Ensure the image stays centered */

}


html {
    margin: 0; /* Elimina márgenes predeterminados */
    padding: 0; /* Elimina relleno predeterminado */
    width: 100%; /* Ocupa el 100% del ancho de la ventana */
    height: 100%; /* Ocupa el 100% de la altura de la ventana */
    box-sizing: border-box; /* Asegura que el ancho/altura incluyan bordes y rellenos */

    /* Add your background pattern here */
    background-color: #eee;
    background-image: radial-gradient(rgba(155, 155, 155, 0.18) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px
}


/* From Uiverse.io by boryanakrasteva */
.camera-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: relative;
}

.camera-btn::after {
  width: fit-content;
  height: fit-content;
  position: absolute;
  font-size: 15px;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s linear;
  top: 115%;
}

.camera-icon {
  width: 30px;
  height: 30px;
  transition: 0.2s linear;
}

.camera-icon path {
  fill: white;
  transition: 0.2s linear;
}

.camera-btn:hover > .camera-icon {
  transform: scale(1.2);
}

.camera-btn:hover > .camera-icon path {
  fill: rgb(177, 139, 189);
}

.camera-btn:hover::after {
  visibility: visible;
  opacity: 1;
  top: 105%;
}
